In [6]:
import pandas as pd

In [4]:
!nvcc --version

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Fri_Feb__8_19:08:17_PST_2019
Cuda compilation tools, release 10.1, V10.1.105

In [10]:
data_train = pd.read_json('./data/meli-challenge-2019/spanish.train.jsonl.gz', lines=True)
data_test = pd.read_json('./data/meli-challenge-2019/spanish.test.jsonl.gz', lines=True)
data_valid = pd.read_json('./data/meli-challenge-2019/spanish.validation.jsonl.gz', lines=True)

In [24]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4895280 entries, 0 to 4895279
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   language         object
 1   label_quality    object
 2   title            object
 3   category         object
 4   split            object
 5   tokenized_title  object
 6   data             object
 7   target           int64
 8   n_labels         int64
 9   size             int64
dtypes: int64(3), object(7)
memory usage: 373.5+ MB

In [25]:
data_train.shape

(4895280, 10)

In [13]:
data_test.shape

(63680, 10)

In [14]:
data_valid.shape

(1223820, 10)

In [15]:
data_train.sample(2)

,language,label_quality,title,category,split,tokenized_title,data,target,n_labels,size
4124160,spanish,unreliable,Red Usb Tp-link Usb Wireles Tl-wn722n Wi-fi Tl...,NETWORK_CARDS,train,"[red, usb, link, usb, wireles, wnn, tlinfo]","[749, 47, 479, 47, 21274, 10579, 23569]",402,632,4895280
2703777,spanish,unreliable,Manubrio Saltplus Hq (4 Pzas),BICYCLE_HANDLEBARS,train,"[manubrio, saltplus, pzas]","[5002, 1, 8865]",621,632,4895280

In [16]:
data_test.sample(2)

,language,label_quality,title,category,split,tokenized_title,data,target,n_labels,size
51579,spanish,reliable,"Esmalte Poliuretanico Revesta 4400 (1, Azul Me...",LATEX_ENAMEL_AND_ACRYLIC_PAINTS,test,"[esmalte, poliuretanico, revesta, azul, mediano]","[527, 11488, 37138, 1543, 5657]",124,632,63680
26165,spanish,reliable,Filtro Purificador De Agua Elimina Cloro Olor ...,WATER_PURIFIERS_FILTERS,test,"[filtro, purificador, agua, elimina, cloro, ol...","[1575, 2410, 267, 5125, 14193, 4316, 4024, 11766]",259,632,63680

In [17]:
data_valid.sample(2)

,language,label_quality,title,category,split,tokenized_title,data,target,n_labels,size
811863,spanish,unreliable,Aqua Mix Humo Ceramica 33x33 1ra Scop,CERAMIC_TILES,validation,"[aqua, mix, humo, ceramica, scop]","[6456, 11114, 8206, 1406, 13893]",67,632,1223820
881352,spanish,unreliable,Equipo De Electrodos Portatil Digital + Envio ...,ELECTRONIC_MUSCLE_STIMULATORS,validation,"[equipo, electrodos, portatil, digital, envio,...","[586, 292, 1033, 239, 211, 1429, 35611]",62,632,1223820

In [8]:
missing_values = data_train.isnull().sum()
missing_values

language           0
label_quality      0
title              0
category           0
split              0
tokenized_title    0
data               0
target             0
n_labels           0
size               0
dtype: int64

In [22]:
data_train['category'].value_counts()

BOOKS                            15208
ACTION_FIGURES                   14746
MAGAZINES                        14465
DIECAST_VEHICLES                 14338
FOOTBALL_SHIRTS                  14338
                                 ...
COIL_BINDING_MACHINES              714
TANDEM_CHAIRS                      687
INDUSTRIAL_ICE_CREAM_MACHINES      550
SCREEN_PRINTING_FRAMES             386
MOTORCYCLE_EXHAUSTS                220
Name: category, Length: 632, dtype: int64

## EJERCICIO ##

Implementar una red neuronal que asigne una categoría dado un título. Para este práctico se puede usar cualquier tipo de red neuronal. Les que hagan solo la primera mitad de la materia, implementarán un MLP. Quienes cursan la materia completa, deberían implementar algo más complejo, usando CNNs, RNNs o Transformers.

Algunas consideraciones a tener en cuenta para estructurar el trabajo:

  1. Hacer un preprocesamiento de los datos (¿Cómo vamos a representar los datos de entrada y las categorías?).
  2. Tener un manejador del dataset (alguna clase o función que nos divida los datos en batches).
  3. Crear una clase para el modelo que se pueda instanciar con diferentes hiperparámetros
  4. Hacer logs de entrenamiento (reportar tiempo transcurrido, iteraciones/s, loss, accuracy, etc.). Usar MLFlow.
  5. Hacer un gráfico de la función de loss a lo largo de las epochs. MLFlow también puede generar la gráfica.
  6. Reportar performance en el conjunto de test con el mejor modelo entrenado. La métrica para reportar será balanced accuracy ([Macro-recall](https://peltarion.com/knowledge-center/documentation/evaluation-view/classification-loss-metrics/macro-recall)).


  Adicionalmente, se pide un reporte de los experimentos y los procesos que se llevaron a cabo (en el README.md de su repositorio correspondiente). No se evaluará la performance de los modelos, sino el proceso de tomar el problema e implementar una solución con aprendizaje profundo.